# netbeans
nbproject/
nb-configuration.xml
nbactions.xml

#vscode
.vscode/
.settings/
.classpath
.factorypath
.project

# mvn
target/
release.properties

# project specific
src/main/resources/app.props
