<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="App Suite">
  <test name="Tools Test">
      <classes>
        <class name="org.schlibbuz.webdog.tools.PropsLoaderTest"/>
        <class name="org.schlibbuz.webdog.tools.ArgsScannerTest"/>
        <class name="org.schlibbuz.webdog.tools.UIExperienceTest"/>
      </classes>
  </test>
  <test name="Services Test">
      <classes>
        <class name="org.schlibbuz.webdog.services.ConciergeServiceTest"/>
        <class name="org.schlibbuz.webdog.services.WeatherServiceTest"/>
      </classes>
  </test>
</suite>
